[access]
	inheritFrom = All-Projects
[project]
	description = for testing updated
[access "refs/*"]
	owner = group user/nish-agrawal
[access "refs/for/refs/*"]
	read = group user/nish-agrawal
	push = group user/nish-agrawal
	label-Code-Review = -2..+2 group user/nish-agrawal
	label-Verified = -1..+1 group user/nish-agrawal
	rebase = group user/nish-agrawal
	removeReviewer = group user/nish-agrawal
	submit = group user/nish-agrawal
[access "refs/heads/*"]
	read = group user/nish-agrawal
	create = group user/nish-agrawal
	push = +force group user/nish-agrawal
	pushMerge = group user/nish-agrawal
[access "refs/tags/*"]
	push = group user/nish-agrawal
	push = +force group user/nish-agrawal
